
.ms-slidebar .ms-slidebar-menu > li > a.collapsed::after {

    content: '\f067';
    font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
    transform: rotate(180deg);

}


.ms-slidebar .ms-slidebar-menu > li > a::after {

    font-size: 1.2em;
    float: right;
    content: '\f068';
    transition: all ease .3s;
    font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;

}